__pycache__/
*.pyc
*.db
.env
instance/
.vscode/
node_modules/
dist/
build/
*.log
output.txt
output_2.txt
output_register_test.txt
Backend/__pycache__/
Backend/instance/
Backend/models/__pycache__/
Backend/routes/__pycache__/
Backend/services/__pycache__/
Backend/ml/__pycache__/
